<h1>留言列表</h1>
*  应用为空的留言为系统留言，是会员发送给网站管理员的。

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th width="180px">归属应用</th>
      <th width="100px">姓名</th>
      <th width="160px">联系信息</th>
      <th>留言</th>
      <th width="160px">留言时间</th>
      <th colspan="2">操作</th>
    </tr>
  </thead>

  <tbody>
    <% @site_comments.each do |site_comment| %>
      <tr>
        <td><%= if site_comment.site.present? then link_to "#{site_comment.site.id}. #{site_comment.site.title}", site_path(site_comment.site) end %></td>
        <td><%= site_comment.name %></td>
        <td>
          <%= site_comment.mobile_phone %>
          <%= site_comment.tel_phone %>
          <%= site_comment.email %><br/>
          <%= site_comment.qq %>
          <%= site_comment.weixin %>
          <%= site_comment.address %>
          <%= site_comment.gender %>
          <%= site_comment.birth %>
          <%= site_comment.hobby %>
        </td>
        <td>
          <%= site_comment.content %>
          <%= site_comment.content2 %>
          <%= site_comment.content3 %>
        </td>
        <td><%= site_comment.created_at.to_s(:db) %></td>
        <td><%= link_to '修改', edit_site_comment_path(site_comment) %></td>
        <td><%= link_to '删除', site_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= will_paginate @site_comments %>
