<%= simple_form_for(@site_payment) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :site %>
    <%= f.input :status %>
    <%= f.input :pay_type %>
    <%= f.input :price %>
    <%= f.input :pay_at %>
    <%= f.input :updated_by %>
    <%= f.input :note %>
    <%= f.input :is_processed %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
