<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @common_key.name %>
</p>

<p>
  <strong>Typo:</strong>
  <%= @common_key.typo %>
</p>

<p>
  <strong>Title:</strong>
  <%= @common_key.title %>
</p>

<p>
  <strong>Placeholder:</strong>
  <%= @common_key.placeholder %>
</p>

<p>
  <strong>Hint:</strong>
  <%= @common_key.hint %>
</p>

<p>
  <strong>Default value:</strong>
  <%= @common_key.default_value %>
</p>

<%= link_to 'Edit', edit_common_key_path(@common_key) %> |
<%= link_to 'Back', common_keys_path %>
