<h1>激活码列表</h1>

<h2><%= link_to '添加', new_payment_token_path, class: 'btn btn-primary btn-lg' %></h2>
<hr/>

<div class="row">
  <div class="col-md-9">
    <ol class="breadcrumb">
      <li>
        <span class="label label-info">您的激活码是：<%= @first_one.try(:code) %>， 请再次登录维斗喜帖后台支付页面，通过激活码支付确认。</span>
      </li>
    </ol>
    <%= render 'list'%>
  </div>
  <div class="col-md-3">
    <div class="list-group">
      <%= link_to payment_tokens_path, class: "list-group-item active" do %>
        查看全部 <span class="badge"><%=  Payment::Token.all.size %></span>
      <% end %>
      <%= link_to payment_tokens_path(status: 'active'), class: "list-group-item" do %>
        未激活 <span class="badge"><%=  Payment::Token.count('active') %></span>
      <% end %>
      <%= link_to payment_tokens_path(status: 'inactive'), class: "list-group-item" do %>
        已激活 <span class="badge"><%=  Payment::Token.count('inactive') %></span>
      <% end %>
      <% @users.each do |user| %>
        <%= link_to payment_tokens_path(user_id: user.id), class: "list-group-item" do %>
          <%= user.email %>
        <% end %>
      <% end %>
      <% @payment_titles.each do |payment_token| %>
        <%= link_to payment_token.title, payment_tokens_path(title: payment_token.title), class: "list-group-item" %>
      <% end %>
    </div>
  </div>
  
</div>