<h1>激活码列表</h1>

<h2><%= link_to '添加', new_payment_token_path, class: 'btn btn-primary btn-lg' %></h2>
<hr/>

<div class="row">
  <div class="col-md-3" data-spy="affix" data-offset-top="200">
    <div class="list-group">
      <%= link_to payment_tokens_path, class: "list-group-item active" do %>
        查看全部 <span class="badge"><%=  Payment::Token.all.size %></span>
      <% end %>
      <%= link_to payment_tokens_path(status: 'active'), class: "list-group-item" do %>
        未激活 <span class="badge"><%=  Payment::Token.count('active') %></span>
      <% end %>
      <%= link_to payment_tokens_path(status: 'inactive'), class: "list-group-item" do %>
        已激活 <span class="badge"><%=  Payment::Token.count('inactive') %></span>
      <% end %>
      <% @users.each do |user| %>
        <%= link_to payment_tokens_path(user_id: user.id), class: "list-group-item" do %>
          <%= user.email %>
        <% end %>
      <% end %>

    </div>
  </div>
  <div class="col-md-9">
    <ol class="breadcrumb">
      <li>
        <%= link_to payment_tokens_path(user_id: params[:user_id], status: 'active'), class: "list-group-item" do %>
          未激活 <span class="badge"><%=  Payment::Token.user_count(params[:user_id], 'active') %></span>
        <% end %>
      </li>
      <li>
        <%= link_to payment_tokens_path(user_id: params[:user_id], status: 'inactive'), class: "list-group-item" do %>
          已激活 <span class="badge"><%=  Payment::Token.user_count(params[:user_id], 'inactive') %></span>
        <% end %>
      </li>
    </ol>
    <%= render 'list'%>
  </div>
</div>