<h1>内容键值</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th width="100">Site</th>
      <th width="100">Site page</th>
      <th width="50">Key</th>
      <th>Value</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @site_page_keystores.each do |site_page_keystore| %>
      <% site = site_page_keystore.site_page.site %>
      <tr>
        <td><%= link_to site.title, get_site_url(site), target: '_blank' %></td>
        <td><%= link_to site_page_keystore.site_page.title, get_site_url(site_page_keystore.site_page), target: '_blank' %></td>
        <td><%= site_page_keystore.common_key.title %></td>
        <td><%= site_page_keystore.value %></td>
        <td><%= link_to '编辑', edit_site_page_keystore_path(site_page_keystore) %></td>
        <td><%= link_to '删除', site_page_keystore, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= will_paginate @site_page_keystores %>
