<%= simple_form_for(@site) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :domain %>
    <%= f.input :status, collection: Site::STATUS %>
    <%= f.input :is_published %>
    <%= f.input :note %>
    
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<img src="<%= @template.base_url %><%= @template.demo_img %>" />