<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @site.user %>
</p>


<p>
  <strong>Title:</strong>
  <%= @site.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @site.description %>
</p>

<p>
  <strong>Domain:</strong>
  <%= @site.domain %>
</p>

<p>
  <strong>Is published:</strong>
  <%= @site.is_published %>
</p>

<table class="table table-striped table-bordered">
<% @site.site_pages.each do |site_page| %>
  <tr><td><%= site_page.title %></td></tr>
<% end %>
</table>

<%= link_to '前台预览', "/s/index?short_title=#{@site.site_pages.first.short_title}" %> |
<%= link_to '编辑', edit_site_path(@site) %> |
<%= link_to '返回站点列表', sites_path %>
