<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="sr-only">RainCMS</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="#"><span class="blue">Rain</span><span class="orange">CMS</span></a>
</div>
<div class="navbar-collapse collapse">
  <% if user_signed_in? %>
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">应用模板 <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><%= link_to '分类', templates_cates_path %></li>
          <li><%= link_to '模板', templates_templates_path %></li>
          <li><%= link_to '通用键', common_keys_path %></li>
          <li><%= link_to '键值', templates_keystores_path %></li>
          <li class="divider"></li>
          <li><a href="/templates/home/help">使用教程</a></li>
        </ul>
      </li>
      <li class="divider"></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">应用列表 <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><%= link_to '应用列表', sites_path %></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">支付管理 <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><%= link_to '支付情况', site_payments_path %></li>
          <li><%= link_to '优惠码', payment_coupons_path %></li>
          <li><%= link_to '激活码', payment_tokens_path %></li>

        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">CMS发布系统 <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><%= link_to '栏目管理', admin_channels_path %></li>
          <li><%= link_to '页面管理', admin_pages_path %></li>
          <li><%= link_to '图片管理', "/admin/home/ckeditor_pictures" %></li>
          <li><%= link_to '系统参数', admin_keystores_path %></li>
          <li><%= link_to 'CMS模板', "/admin/templetes/index" %></li>
          
          <li class="divider"></li>
          <li><a href="/admin/home/help">使用教程</a></li>
        </ul>
      </li>
    </ul>
  <% end %>
  <ul class="nav navbar-nav navbar-right">
    <% if user_signed_in? %>
      <% if current_user.has_role? :admin %>
        <li>
        <%= link_to '用户管理', users_path %>
        </li>
      <% end %>
      <li>
      <%= link_to '修改密码', edit_user_registration_path %>
      </li>
      <li>
        <%= link_to '退出', destroy_user_session_path, :method=>'delete' %>
      </li>
    <% else %>
      <li>
        <%= link_to '登录', new_user_session_path %>
      </li>
    <% end %>
  </ul>
</div><!--/.nav-collapse -->
