<h1>Listing members</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Auth type</th>
      <th>Auth</th>
      <th>Auth token</th>
      <th>Site Count</th>
      <th>Token created at</th>
      <th>Token confirmed</th>
      <th>Current sign in at</th>
      <th>Last sign in at</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.id %></td>
        <td><%= member.auth_type %></td>
        <td><%= member.auth_id %></td>
        <td><%= member.auth_token %></td>
        <td><%= member.sites.size %></td>
        <td><%= member.token_created_at %></td>
        <td><%= member.token_confirmed %></td>
        <td><%= member.current_sign_in_at %></td>
        <td><%= member.last_sign_in_at %></td>
        <td><%= link_to 'Show', member %></td>
        <td><%= link_to 'Edit', edit_member_path(member) %></td>
        <td><%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Member', new_member_path %>
