<h1>会员列表</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>编号</th>
      <th>认证类型</th>
      <th>认证号码</th>
      <th>验证码</th>
      <th>网站数量</th>
      <th>Token created at</th>
      <th>Token confirmed</th>
      <th>Current sign in at</th>
      <th>Last sign in at</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.id %></td>
        <td><%= member.auth_type %></td>
        <td><%= member.auth_id %></td>
        <td><%= member.auth_token %></td>
        <td><%= link_to member.sites.count, member %></td>
        <td><%= member.token_created_at %></td>
        <td><%= member.token_confirmed %></td>
        <td><%= member.current_sign_in_at %></td>
        <td><%= member.last_sign_in_at %></td>
        <td><%= link_to '详细', member %></td>
        <td><%= link_to '修改', edit_member_path(member) %></td>
        <td><%= link_to '删除', member, method: :delete, data: { confirm: '确定要删除?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Member', new_member_path %>
