<p id="notice"><%= notice %></p>

<table class="table table-bordered">
  <tr>
    <th>Auth type</th>
    <th>Auth ID</th>
    <th>Auth token</th>
    <th>Token created at</th>
    <th>Token confirmed</th>
    <th>登录次数</th>
    <th>操作</th>
  </tr>
  <tr>
    <td><%= @member.auth_type %></td>
    <td><%= @member.auth_id %></td>
    <td><%= @member.auth_token %></td>
    <td><%= @member.token_created_at %></td>
    <td><%= @member.token_confirmed %></td>
    <td><%= @member.sign_in_count %></td>
    <td><%= link_to '修改', edit_member_path(@member) %></td>
  </tr>
</table>

<%= render partial: 'sites/list', locals: {sites: @sites, payed: false} %>
