<p id="notice"><%= notice %></p>

<table class="table table-bordered">
  <tr>
    <th>Auth type</th>
    <th>Auth ID</th>
    <th>Auth token</th>
    <th>Token created at</th>
    <th>Token confirmed</th>
    <th>Current sign in at</th>
    <th>Last sign in at</th>
    <th>操作</th>
  </tr>
  <tr>
    <td><%= @member.auth_type %></td>
    <td><%= @member.auth_id %></td>
    <td><%= @member.auth_token %></td>
    <td><%= @member.token_created_at %></td>
    <td><%= @member.token_confirmed %></td>
    <td><%= @member.current_sign_in_at %></td>
    <td><%= @member.last_sign_in_at %></td>
    <td><%= link_to 'Edit', edit_member_path(@member) %></td>
  </tr>
</table>

<%= render partial: 'sites/list', locals: {sites: @sites} %>
